dist: bionic
language: python
python:
  - 3.6
  - 3.7

# Command to install dependencies
install: pip install -U tox-travis codecov

after_success: codecov

# Command to run tests
script: tox

deploy:
  - provider: pages
    skip-cleanup: true
    github-token: "$GITHUB_TOKEN"
    keep-history: true
    local-dir: docs/_build/html
    target-branch: gh-pages
    on:
      branch: master
      python: 3.6
