absl-py==1.0.0
astunparse==1.6.3
azure-cognitiveservices-anomalydetector==0.3.0
azure-common==1.1.28
botocore==1.24.13
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
dask==2022.2.0
distributed==2022.2.0
featuretools==0.22.0
fsspec==2022.2.0
gast==0.3.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.19.1
grpcio==1.44.0
h5py==2.10.0
HeapDict==1.0.1
idna==3.3
imageio==2.15.0
importlib-metadata==4.11.2
iso639==0.1.4
isodate==0.6.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
langdetect==1.0.9
lightfm==1.16
llvmlite==0.34.0
locket==0.2.1
Markdown==3.3.6
MarkupSafe==2.1.0
mlblocks==0.4.1
mlprimitives==0.3.2
mongoengine==0.24.0
msgpack==1.0.3
msrest==0.6.21
networkx==2.6.3
nltk==3.7
numba==0.51.2
numpy==1.19.5
oauthlib==3.2.0
opencv-python==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
partd==1.2.0
patsy==0.5.2
Pillow==9.0.1
protobuf==3.19.4
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==3.12.3
pyparsing==3.0.7
python-dateutil==2.8.2
python-louvain==0.13
pyts==0.10.0
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
regex==2022.3.2
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3fs==0.4.2
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.4.1
six==1.16.0
sortedcontainers==2.4.0
statsmodels==0.12.2
tabulate==0.8.9
tblib==1.7.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.3
tensorflow-estimator==2.2.0
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2021.11.2
toolz==0.11.2
tornado==6.1
tqdm==4.63.0
typing_extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
wrapt==1.13.3
xgboost==0.90
XlsxWriter==1.3.9
zict==2.1.0
zipp==3.7.0
