azure-cognitiveservices-anomalydetector==0.3.0
h5py==2.10.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
mlblocks==0.3.4
mlprimitives==0.2.5
numba==0.50.1
numpy==1.16.6
pandas==0.24.2
protobuf==3.15.0
pyts==0.10.0
s3fs==0.4.2
scikit-learn==0.20.4
tabulate==0.8.7
